body .cuerpo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(223, 214, 214, 0.871); }

main .alineadomain {
  display: flex;
  align-content: baseline; }
  main .alineadomain .alineado {
    display: flex;
    columns: 30px;
    color: black;
    font-size: 10px;
    right: 10px; }
  main .alineadomain .procesoAlineado {
    color: black; }

body .cuerpo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(223, 214, 214, 0.871); }

body main .repuestos {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-content: baseline; }

body main .medio {
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  border-radius: 20px;
  border-color: black;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 20px; }

body main .mision {
  background-color: white;
  font-size: xx-large;
  background-color: white;
  padding: 10px; }

body .galeria {
  margin-left: 70px; }

body .info {
  display: flex;
  font-style: oblique;
  font-size: 30px;
  color: black;
  padding: 50px;
  justify-content: center; }

body .footer {
  display: flex;
  text-align: center;
  font-size: 20px;
  background-color: white;
  font-style: italic;
  margin-top: 100px;
  color: black; }

body .pie {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; }

footer .footer {
  display: flex;
  text-align: center;
  font-size: 20px;
  background-color: #aea8a8;
  font-style: italic;
  margin-top: 100px;
  color: black; }

footer .pie {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; }

body .cuerpo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(223, 214, 214, 0.871); }

body .consulta {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-style: italic; }

/*index*/
@media all and (min-width: 420px) {
  .cuerpo {
    color: black; } }

header .cuerpo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(220, 207, 207, 0.871); }

main .gridpadre {
  display: grid;
  grid-template-areas: "card video video";
  padding-inline-start: 20px; }
  main .gridpadre .video {
    display: grid;
    margin-left: 400px;
    margin-left: 100px; }

footer .footer {
  display: flex;
  text-align: center;
  font-size: 20px;
  background-color: white;
  font-style: italic;
  margin-top: 100px;
  color: black; }

footer .pie {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; }
